nav img {
  max-height: 80px;
}

.section {
 font-family: 'Philosopher', sans-serif;
  opacity: 0.95;
}

.control {
 font-family: 'Philosopher', sans-serif;
}
.log-in {
 font-family: 'Philosopher', sans-serif;
  opacity: 0.95;
}
.sign-up {
 font-family: 'Philosopher', sans-serif;
  opacity: 0.95;
}

.box {
 font-family: 'Philosopher', sans-serif;
  opacity: 0.95;
}

.navbar-item {
 font-family: 'Philosopher', sans-serif;
}
html {
  background: url(../imgs/background2.jpg);
  /* no-repeat center center fixed; */
  /* -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover; */
  background-size: cover;
  /* background-attachment: fixed; */
}
ul {
  display: inline-block;
  text-align: left;
  margin-left: 20%;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
.footer {
  position: relative;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;

}
button .print {
  border: none;
}

.fa-5x {
  color: #01D1B2 !important;
  margin-bottom: 25px;
}